{% extends "layout.html" %}

{% block title %} Jobs {% endblock %}
{% block content %}

<section class="products">
{% for job in jobs %}
  <div class="jobs-card">

    <div class="jobs-image-wrapper ">
        <a class="single-jobs" href="{{ url_for('main.personal', id=job.id) }}">
            <div class="jobinfo text-center">
                <img src={{job.img}}>
                <h5> {{ job.title }}</h5>
                <h6>{{ job.company}}</h6>
                <h8> {{ job.deadline }} </h8>
            </div>



        </a>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
            </ul>
        </div>

    </div>
  </div>
{% endfor %}

</section>


{% endblock content %}



